@page "/dashboard"

<div class="container">
  <div class="info">
    <div class="for">
      <div class="thumbnai"><img src="img/logo_uteco.png"/></div>
  </div>
</div>
</div>
<div class="form">
  <form class="login-form">
        <table>
          <table>
    <h1>Fecha de Remision del Titulo</h1>                    
    <th ><input type="text" placeholder="Dia"/></th>
    <th ><input type="text" placeholder="Mes"/></th>
    <th ><input type="text" placeholder="Año"/></th>
  </table>
  <table>
    <h1>Proyecto de graduacion</h1>                    
    <th ><input type="text" placeholder="Unidad Academica"/></th>
    <th ><input type="text" placeholder="Mes"/></th>
    <th ><input type="text" placeholder="Año"/></th>
  </table>
    <h1>Programa</h1>
    <input type="text" placeholder="Aqui escriba el nombre de la carrera"/> 
    <h1>Facultad que pertenece</h1>
    <input type="password" placeholder="Aqui escriba el nombre de la Facultad"/>
    <h1>Justificacion</h1>
    <input type="text" placeholder="Desglose los elementos del por que hacer la investigacion y que beneficios aportara, uso y aplicacion de los resultados"/>
    <h1>Objetivo</h1>
    <input type="password" placeholder="Expresar de forma clara las orientaciones u objetivos que tendras su investigacion, de forma general"/>
    <h1>Titulo propuesto</h1>
    <input type="text" placeholder="Describir su titulo de insvestigacion, no superar las 15 palabras"/> 
    <h1>Preferencia de Asesor (a)</h1>
    <input type="password" placeholder="Escriba el Nombre de la Preferencia del profesor (a) para Asesor (a) del trabajo de Grado "/>
    <h1>Nombre de los Sustentantes</h1>
    <table>
      <th ><input type="text" placeholder="Matricula"/></th>
      <th ><input type="text" placeholder="Telefono"/></th>
      <th ><input type="text" placeholder="Correo eletronico"/></th>
      <th ><input type="text" placeholder="Situacion laboral"/></th>
      <th ><input type="text" placeholder="Trimestre que curso"/></th>
      <th ><input type="text" placeholder="Calificion alcanzada"/></th>
  </table>
  </table>
    <button>Enviar</button>
  </form>
</div>