@page "/dashboard"
@using Data.Models

<div class="containe">
  <div class="info">
    <div class="for">
      <div class="thumbnai"><img src="img/logo_uteco.png" /></div>
    </div>
  </div>
</div>
<EditForm Model = "@Formulario">
<div class="forl">
  <div class="login-form">
    
      <h1>Proyecto de graduacion</h1>
        <th> <label for="txtUnidadAcademica">Unidad Académica</label> <input id="txtUnidadAcademica" @bind-value="Formulario.UnidadAcademia" type="text" placeholder="Unidad Academica" /></th>
        <th><label for="txtMegG">Mes</label><input id="txtMesG" @bind-value="Formulario.MesGraduacionProyeccion" type="number" max="12" min="1" placeholder="Mes" /></th>
        <th><label for="txtanoG">año</label><input id="txtanoG" @bind-value="Formulario.AnioGraduacionProyeccion" type="number" max="12" min="1" placeholder="año" /></th>
      <table>
        <h1>Problema</h1>
        <input type="text" classs = "forl-control" id = "Problema" @bind-value="Formulario.Problema" placeholder ="coloca el problema"/>
      <h1>Programa</h1>
      <input type="text" classs = "forl-control" id = "Programa" @bind-value="Formulario.Programa" placeholder ="Aqui escriba el nombre de la carrera"/>
      <h1>Facultad que pertenece</h1>
      <input type="text" classs = "forl-control" id = "Facultad" @bind-value="Formulario.Facultad" placeholder ="Aqui escriba el nombre de la Facultad"/>
      <h1>Justificacion</h1>
      <input type="text" classs = "forl-control" id = "Justificacion" @bind-value="Formulario.Justificacion" placeholder ="Desglose los elementos del por que hacer la investigacion y que beneficios aportara, uso y aplicacion de los resultados"/>
      <h1>Objetivo</h1>
      <input type="text" classs = "forl-control" id = "Objetivo" @bind-value="Formulario.Objetivo" placeholder ="Expresar de forma clara las orientaciones u objetivos que tendras su investigacion, de forma general"/>
      <h1>Titulo propuesto</h1>
      <input type="text" classs = "forl-control" id = "TituloPropuesto" @bind-value="Formulario.TituloPropuesto" placeholder ="Describir su titulo de insvestigacion, no superar las 15 palabras"/>
      <h1>Preferencia de Asesor (a)</h1>
      <input type="text" classs = "forl-control" id = "Asesor" @bind-value="Formulario.PreferenciaAsesor" placeholder ="Escriba el Nombre de la Preferencia del profesor (a) para Asesor (a) del trabajo de Grado"/>
      <h1>Nombre de los Sustentantes</h1>
      <div class="mt-3">
        <a class="btn btn-info" @onclick="()=>Formulario.Sustentantes.Add(new())">Agregar</a>
      </div>
      <table>
        <thead>
          <th>Matricula</th>
          <th>Telefono</th>
          <th>Correo eletronico</th>
          <th>Situacion laboral</th>
          <th>Trimestre que curso</th>
          <th>Calificion alcanzada</th>
        </thead>
        <tbody>

          @foreach (var sustentante in Formulario.Sustentantes)
          {
            <tr>
              <th><input @bind-value="sustentante!.estudiante!.Matricula" type="text" placeholder="Matricula" /></th>
              <th><input @bind-value="sustentante!.estudiante!.Telefono" type="text" placeholder="Telefono" /></th>
              <th><input @bind-value="sustentante!.estudiante!.Correo" type="text" placeholder="Correo eletronico" /></th>
              <th><input @bind-value="sustentante!.Situacionlaboral" type="text" placeholder="Situacion laboral" /></th>
              <th><input @bind-value="sustentante!.Trimestre_cursado" type="text" placeholder="Trimestre que curso" /></th>
              <th><input @bind-value="sustentante!.Calificacion" type="number" placeholder="Calificion alcanzada" /></th>
            </tr>
          }
        </tbody>
      </table>
      </table>

    <button onsubmit ="Crear">Enviar</button>
  </div>
</div>
 </EditForm>
@code {
  public Formulario Formulario { get; set; } = new Formulario();

    async void Crear(){
    var r = await FormularioServices.Crear(Formulario);
    if(r) Formulario = new Formulario ();
    Console.WriteLine(r);
  }
}
