@page "/FormularioEnLinea"

<h1>Formulario en linea</h1>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="txtUnidadAkademica">Unidad Academica</label>
            <input class="form-control" type="text" name="txtUnidadAkademica" id="txtUnidadAkademica">
        </div>
    </div>
</div>
