@page "/login"

<div class="containerp">
  <div class="info">
    <h1>UTECO</h1><span>Universidad Tecnológica Del Cibao Oriental </span>
  </div>
</div>
<div class="formp">
  <div class="thumbnailp">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/>
    </div>
  <div class="login-form">
    <input @bind="Usuario.Correo" type="text" placeholder="Correo"/>
    <input @bind="Usuario.Contrasena" type="password" placeholder="Contraseña"/>
    <button @onclick="Acceder" >Login</button>
    <p class="message">¿No registrado? <a href="https://localhost:7275/RegistroUsuarios">Crea una cuenta</a></p>

  </div>
</div>

@code{
    public Usuario Usuario = new Usuario();

    private async void Acceder()
    {
      var result = await UsuarioServices.Login(Usuario.Correo,Usuario.Contrasena);
        if(result){
            urlManager.NavigateTo("/Dashboard");
        }
    }
}
