@page "/RegistroUsuarios"
@using Data.Models

<div class="containner">
  <div class="info">
    <h1>Registrate</h1><span>Datos personales</span>
  </div>
</div>
 
<EditForm Model = "@Usuario"> 

<div class="fornm">
  <div class="thumbnailn">
  <img src="img/Logo.png"/></div>
  <form class="login-form">
    <input type="text" classs = "fornm-control" id = "Nombre" @bind-value="Usuario.Nombre" placeholder ="Nombre"/>
    <input type="text" classs = "fornm-control"id ="Nombre" @bind-value="Usuario.Correo" placeholder ="Correo" />
    <input type="text" classs = "fornm-control"id ="Nombre" @bind-value="Usuario.Contrasena" placeholder ="contraseña" />
    <button @onclick="Crear">Registar</button>
    <p class="message">Ya estas registrado? <a href="https://localhost:7275/login">Volver al Login</a></p>
  </form>
  </div>
  </EditForm>
@code {
  Usuario Usuario = new Usuario ();

  async void Crear(){
    var r = await UsuarioServices.Crear(Usuario);
    if(r) Usuario = new Usuario ();
  }
}
